.firebaseui-container {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 15px;
  min-height: 150px;
  padding-top: 10px;
  border-radius: 24px;
  box-shadow: none;
  font-family: Muli, arial, sans-serif !important;
}

.firebaseui-idp-google {
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.mdl-button--raised {
  text-transform: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
}

.firebaseui-form-actions .mdl-button {
  text-transform: none;
  border-radius: 4px;
  box-shadow: none;
}

.firebaseui-container.mdl-card {
  border-radius: 8px;
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

/*
.firebaseui-container.firebaseui-page-provider-sign-in {
  background: transparent;
  box-shadow: none;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.firebaseui-container.firebaseui-id-page-callback {
  background: transparent;
  box-shadow: none;
  margin-top: 40px;
  height: 84px;
  min-height: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.mdl-shadow--2dp {
  box-shadow: none;
}
.firebaseui-card-header {
  display: none;
}
.firebaseui-subtitle,
.firebaseui-text {
  color: rgba(255, 255, 255, 0.87);
}
.firebaseui-form-actions
  .mdl-button--raised.mdl-button--colored.firebaseui-button {
  background: rgba(0, 0, 0, 0.1);
}
.firebaseui-id-dismiss-info-bar {
  display: block;
}
.firebaseui-info-bar {
  border: 0;
  border-radius: 10px;
  left: 5%;
  right: 5%;
  top: 10%;
  bottom: 10%;
} */
